body {
  background-image: url(image_path('background.jpg'));
}

#page-wrapper {
  margin: 0px;
  background-color: transparent !important;
}

.page-header {
  color: #FFFFFF;
}

.user-image {
  margin-right: 10px;
}

.leaderboard-amount {
  line-height: 49px;
}

.large {
  font-size: 32px;
}

.legendLabel {
  display: block;
}

#lastMonthTopSaverImage {
  width: 72px;
}

.footer .container {
  width: 100%;
  color: #FFFFFF;
  padding-left: 30px;
}
